# Attributes used for formatting.
[attr]our-c-style   whitespace=tab-in-indent  format.clang-format=9

*.cxx   our-c-style
*.h     our-c-style
*.hxx   our-c-style
*.cu    our-c-style

data/** filter=lfs diff=lfs merge=lfs -text
/**/data/** filter=lfs diff=lfs merge=lfs -text

*.cmake          whitespace=tab-in-indent
*.md             whitespace=tab-in-indent whitespace=-blank-at-eol conflict-marker-size=79 -whitespace
*.md.tmpl        whitespace=tab-in-indent whitespace=-blank-at-eol conflict-marker-size=79 -whitespace
*.rst            whitespace=tab-in-indent conflict-marker-size=79
*.txt            whitespace=tab-in-indent

vtkm/thirdparty/diy/vtkmdiy/**           -format.clang-format -whitespace
vtkm/thirdparty/optionparser/vtkmoptionparser/** -format.clang-format -whitespace
vtkm/thirdparty/lodepng/vtkmlodepng/** -format.clang-format -whitespace
vtkm/thirdparty/lcl/vtkmlcl/**  -format.clang-format -whitespace
