alabaster==0.7.13
Babel==2.13.0
blinker==1.4
breathe==4.35.0
breezy==3.2.1
certifi==2020.6.20
chardet==4.0.0
configobj==5.0.6
cryptography==3.4.8
dbus-python==1.2.18
Deprecated==1.2.13
distro==1.7.0
distro-info===1.1build1
docutils==0.18.1
dulwich==0.20.31
fastbencode==0.0.5
fastimport==0.9.14
gpg===1.16.0-unknown
httplib2==0.20.2
idna==3.3
imagesize==1.4.1
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.3
mercurial==6.1.1
more-itertools==8.10.0
oauthlib==3.2.0
packaging==23.2
patiencediff==0.2.1
PyGithub==1.55
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.3.0
PyNaCl==1.5.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-gitlab==2.10.1
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-moderncmakedomain==3.27.0
sphinxcontrib-packages==1.1.2
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
wrapt==1.13.3
zipp==1.0.0
